<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>同学助校园顺手捎网-帮我买</title>
    <link rel="stylesheet" href="{% static '/lib/layui-v2.6.3/css/layui.css' %}">
    <script src="{% static 'lib/layui-v2.6.3/layui.js' %}"></script>
    <link rel="stylesheet"   href="{% static '/css/index.css' %}"/>
    <script src="{% static '/lib/jquery-3.4.1/jquery-3.4.1.min.js' %}"></script>
</head>
<body>
    <header>     
    <div class="log">同学助校园顺手捎网</div>
    <nav>
      <a href="/">首页</a>
      <a href="/#showcases">在线接单</a>
      <a href=".take.html">在线下单</a>
      <a href="/user/information">个人中心</a>
      <a href="/houtai_login">后台登录</a>
      <a href="#"><i class="fas fa-search"></i></a> 
    </nav>
    <div class="burger">
      <div class="burger-line1"></div>
      <div class="burger-line2"></div>
      <div class="burger-line3"></div>
    </div>
  </header>
      <div id="content">
    
        <div class="layui-row layui-col-space15 ">
            <!-- 左侧栏 -->
        <div id="content-left"class="layui-col-md3" >
            <div class="content_nav">
                <div class="nav_list">
                    <a href="/user/take">
                        <div class="iteml active">
                            <img src="{% static '/img/send.png' %}" class="sendtup" style="margin-top: 30px;">
                            <p style="color: #fff;font-size: 18px ;margin-top: 18px">帮我取</p>
                        </div>
                    </a>
                    <a href="/user/buy" style="margin-top: 10px;">
                        <div class="iteml">
                            <img src="{% static '/img/buy_new.png' %}" class="buytup">
                            <p style="color: #fff;font-size: 18px ;margin-top: 18px">帮我买</p>
                        </div></a>
                        <a href="/user/do" style="margin-top: 10px;">
                            <div class="iteml">
                                <img src="{% static '/img/help.png' %}" class="helptup">
                                <p style="color: #fff;font-size: 18px ;margin-top: 18px">帮我做</p>
                            </div>
                        </a>
                        </div>
                    </div>
      </div>
      
         <!-- 右侧栏 -->
          <div class="layui-col-md9" id="fabu"style="border:1px solid #cccccc; margin: 10px 0;  padding: 0;">
            <div class="nav-bang"><h1 ><strong>发布</strong>帮我买任务</h1></div>
            
            <div style="width: 600px; margin: 0 auto;">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                    <label class="layui-form-label">标题</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" id="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                    </div>
                </div>
                
                <div class="layui-form-item">
                <label class="layui-form-label">分类</label>
                <div class="layui-input-block">
                    <select id="classify" lay-filter="aihao">
                        <option value="take" disabled>帮我取</option>
                        <option value="buy" >帮我买</option>
                        <option value="do" disabled>帮我做</option>
                    </select>
                </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">物品名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="goods" id="goods" lay-verify="required" autocomplete="off" placeholder="请输入名称" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">购货地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="get_address" id="get_address" lay-verify="required" autocomplete="off" placeholder="请输入购货地址" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">收货地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="home_address" id="home_address" lay-verify="required" autocomplete="off" placeholder="请输入收货地址" class="layui-input">
                    </div>
                </div>
                
                <div class="layui-form-item">
                    <label class="layui-form-label">联系电话</label>
                    <div class="layui-input-block">
                        <input type="tel" name="phone" id="phone" lay-verify="required|phone" autocomplete="off" placeholder="请输入电话" class="layui-input">
                    </div>
                </div>
                
                <div class="layui-form-item">
                    <label class="layui-form-label">下单人</label>
                    <div class="layui-input-block">
                        <input type="text" id="username"  id="user"  lay-verify="required" autocomplete="off" placeholder="请输入姓名" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">时间</label>
                        <div class="layui-input-inline" style="width: 200px;">
                            <input type="text" id="date1" name="date-start" lay-verify="required" placeholder="开始时间" autocomplete="off" class="layui-input" >
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline" style="width: 200px;">
                            <input type="text" id="date2" name="date-ending" lay-verify="required" placeholder="截止时间" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">奖励</label>
                    <div class="layui-input-block">
                        <input type="text" name="reward" id="reward" lay-verify="required"  autocomplete="off" placeholder="" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">详细描述</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" id="describe" class="layui-textarea"></textarea>
                    </div>
                </div>

                <div class="layui-form-item" style="margin-left: 50px;">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1" id="demo1" style="background-color: #357cb0;">立即下单</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
            </div>
            
               
        </div>
        </div>
       </div>
       
       <footer >
        <div class="footer-menus">
          <div class="contact-us">
            <p class="menu-title">联系我们</p>
            <p>电话：9999-999-999</p>
            <p>电子邮件：shunshoushao@163.com</p>
          </div>
          <div class="service-menu footer-menu">
            <p class="menu-title">意见反馈</p>
            <ul class="menu-items">
              <li><a href="#">常见问题</a></li>
              <li><a href="#">如何付费</a></li>
              <li><a href="#">如何下单</a></li>
            </ul>
          </div>
          <div class="service-menu footer-menu">
            <p class="menu-title">关于我们</p>
            <ul class="menu-items">
              <li><a href="#">窝嫩叠顺手捎介绍</a></li>
              <li><a href="#">合作伙伴</a></li>
            </ul>
          </div>
          <div class="service-menu footer-menu">
            <p class="menu-title">帮助与支持</p>
            <ul class="menu-items">
              <li><a href="#">帮助中心</a></li>
              <li><a href="#">联系客服</a></li>
              <li><a href="#">文档资源</a></li>
            </ul>
          </div>
          <p class="icp-info">蜀ICP备99999999号</p>
          <p class="rights">&copy; 窝嫩叠顺手捎有限公司</p>
          <div class="scroll-to-top">
            <a href="#"><i class="fas fa-chevron-up"></i></a>
          </div>
        </div>
      </footer>
     

      <script>
      //注意：导航 依赖 element 模块，否则无法进行功能性操作
      layui.use('element', function(){
        var element = layui.element;
      });
    //时间模块
      layui.use('laydate',function(){
        var laydate=layui.laydate;

        laydate.render({
            elem:"#date1",
            type:"datetime"
        })

        laydate.render({
            elem:"#date2",
            type:"datetime"
        })
    })
      layui.use('form',function(){
          var form=layui.form;
           form.on('submit(demo1)', function (data) {
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });
      })
   
       //提交帮我买单子接口
       $('#demo1').click(function(){
          $.ajax({
              url:'/user/buy/',
              method:'post',
              dataType:'json',
              data:{
                 title:$("#title").val(), 
                 classify:$("#classify").val(),
                 goods:$("#goods").val(),
                 get_address:$("#get_address").val(),
                 home_address:$("#home_address").val(),
                 phone:$("#phone").val(),
                 username:$("#username").val(),
                 date_start:$("#date1").val(),
                 date_ending:$("#date2").val(),
                 reward:$("#reward").val(),
                 describe:$("#describe").val()
              },
              success:function(data){
                  if(data[0]['status']===1) {
                      layer.open({
                              title: '成功',
                                context:'添加单子成功',
                          }
                        )
                      setTimeout(window.location.replace('/user/information'),2500)
                  }
                  else{
                        layer.open({
                              title: '失败',
                                context:data[0]['msg'],
                          }
                        )
                  }
              }
          })
      })


   
        
      </script>
</body>
</html>