<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'admin/lib/layui-v2.6.3/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'admin/css/public.css' %}" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">

                        <div class="layui-inline">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">用户性别</label>
                            <div class="layui-input-inline">
                                <input type="text" name="sex" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">用户学号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="stu_num" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">真实姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="name" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </fieldset>

        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                <!-- <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 删除 </button> -->
            </div>
        </script>

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
        
        <!-- 编辑查看表单 -->
        <div id="xiugai" class="layui-form layuimini-form"  hidden="hidden">
            <div class="layui-form-item">
                <label class="layui-form-label required">用户编号</label>
                <div class="layui-input-block">
                    <input type="text" name="user_id" id="user_id" lay-verify="required" readonly="true" lay-reqtext="不可能" placeholder=不可能为空 value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="username" id="username" lay-verify="required" lay-reqtext="用户名不能为空" placeholder="请输入用户名" value="" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label required">性别</label>
                <div class="layui-input-block">
                    <input type="text" name="sex" id="sex" lay-verify="required" lay-reqtext="" placeholder="" value="" class="layui-input">
                    <!-- <input type="radio" name="sex" id="nan" value="男" title="男" >
                    <input type="radio" name="sex" id="nv" value="女" title="女"> -->
                </div>
            </div>
        
            <div class="layui-form-item">
                <label class="layui-form-label required">真实姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="name" id="name" lay-verify="required" lay-reqtext="真实姓名不能为空" placeholder="请输入真实姓名" value="" class="layui-input">
                   
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label">学号</label>
                <div class="layui-input-block">
                    <input type="text" name="schoolnumber" id="schoolnumber" placeholder="请输入学号" value="" class="layui-input">
                </div>
            </div>
            
            <div class="layui-form-item">
                <label class="layui-form-label required">电子邮箱</label>
                <div class="layui-input-block">
                    <input type="text" name="email" id="email"  lay-reqtext="电子邮箱不能为空" placeholder="请输入邮箱" value="" class="layui-input">
                </div>
            </div>
           
            <div class="layui-form-item">
                <label class="layui-form-label">余额</label>
                <div class="layui-input-block">
                    <input type="text" name="wealth" id="wealth" placeholder="" value="" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label required">是否审核</label>
                <div class="layui-input-block">
                    <input type="text" name="pass" id="pass" placeholder="" value="" class="layui-input">
                    <!-- <input type="radio" name="pass" value="是" title="是" >
                    <input type="radio" name="pass" value="否" title="否"> -->
                </div>
            </div>
           
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注信息</label>
                <div class="layui-input-block">
                    <textarea name="remark" class="layui-textarea" placeholder="请输入备注信息"></textarea>
                </div>
            </div>
    
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal save-btn" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </div>


        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑查看</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除用户</a>
        </script>

    </div>
</div>
<script src="{% static 'admin/lib/layui-v2.6.3/layui.js' %}" charset="utf-8"></script>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: '/admin_site/table_user/',
            method: 'post',
            toolbar: '#toolbarDemo',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                {type: "checkbox", width: 50},
                {type: "numbers", width: 50,title: '序号'},
                {field: 'user_id', width: 75, title: '用户编号',align: "center"},
                {field: 'username', width: 150, title: '用户名',align: "center"},
                {field: 'sex', width: 90, title: '性别', sort: true,align: "center"},
                {field: 'name', width: 150, title: '真实姓名',align: "center"},
                {field: 'email', width: 180, title: '邮箱',align: "center"},
                {field: 'schoolnumber', title: '学号', minWidth: 150,align: "center"},
                {field: 'pass', width: 150, title: '是否审核', sort: true,align: "center"},
                {field: 'wealth', width: 80, title: '余额', sort: true},
                {title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center",align: "center"}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            var result = JSON.stringify(data.field);
            layer.alert(result, {
                title: '最终的搜索信息'
            });

            //执行搜索重载
            table.reload('currentTableId', {
                page: {
                    curr: 1
                }
                , where: {
                    searchParams: result
                }
            }, 'data');
            $.ajax({
                url:'/admin_site/user_search/',
                method: 'post',
                dataType:'json',
                data:{
                    'username': data.field.username,
                    'stu_num': data.field.stu_num,
                    'name': data.field.name,
                    'sex': data.field.sex,
                },
                success:function (data){
                    console.log(data);
                }
            })
            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'add') {  // 监听添加操作
                var index = layer.open({
                    title: '添加用户',
                    type: 2,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: '../page/table/add_user.html',
                });
                $(window).on("resize", function () {
                    layer.full(index);
                });
            } else if (obj.event === 'delete') {  // 监听删除操作
                var checkStatus = table.checkStatus('currentTableId')
                    , data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
        });

        //监听表格复选框选择
        table.on('checkbox(currentTableFilter)', function (obj) {
            console.log(obj)
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                  console.log(data.sex);
                  console.log($("#nan").val());
                var index = layer.open({
                    title: '编辑用户',
                    type: 1,
                    shade: 0.2,
                    maxmin:true,
                    shadeClose: true,
                    area: ['100%', '100%'],
                    content: $('#xiugai'),
                    success:function(layero,index){
                        $("#user_id").val(data.user_id);
                        $("#username").val(data.username);
                        $("#sex").val(data.sex);
                        $("#name").val(data.name);
                        $("#email").val(data.email);
                        $("#schoolnumber").val(data.schoolnumber);     
                        $("#wealth").val(data.wealth);
                        $("#pass").val(data.pass);
                        $(".save-btn").on("click",function (){
                            $.ajax({
                                url:'/admin_site/update_user/',
                                method:'post',
                                dataType: 'json',
                                data:{
                                    user_id: $("#user_id").val(),
                                    username: $("#username").val(),
                                    sex:$("#sex").val(),
                                    name:$("#name").val(),
                                    email:$("#email").val(),
                                    stu_num:$("#schoolnumber").val(),
                                    money:$("#wealth").val(),
                                },
                                success:function(data){

                                }
                        })
                })
                    }
                });

                $(window).on("resize", function () {
                    layer.full(index);
                });

                return false;
            } else if (obj.event === 'delete') {
                layer.confirm('真的删除该用户吗', function (index) {
                    $.ajax({
                        url:'/admin_site/delete_user/',
                        method: 'post',
                        dataType: 'json',
                        data:{
                            'user_id': data.user_id,
                        },
                        success:function (backdata){
                            if(backdata['code'].toString()==='1') {
                                layer.msg('成功删除用户：' + data.user_id);
                            }
                            else{
                                layer.msg('删除失败');
                            }
                        }
                    })
                    obj.del();
                    layer.close(index);
                });
            }

        });

    });
</script>

</body>
</html>