<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>主页一</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'admin/lib/layui-v2.6.3/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'admin/lib/font-awesome-4.7.0/css/font-awesome.min.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'admin/css/public.css' %}" media="all">
    <script src="{% static '/lib/jquery-3.4.1/jquery-3.4.1.min.js' %}"></script>
<script rel="script">
        $.ajax({
            url: '/admin_site/welcome/',
            method: 'POST',
            data:{
              msg:'get_info',
            },
            success: function (data){
                console.log(data);
                data = $.parseJSON(data);
                let user_count = data['user_count'];
                let table_waiting_count = data['table_waiting_count']
                let table_doing_count = data['table_doing_count']
                let table_finish_count = data['table_finish_count']
                $(".user-count").text(user_count);
                $(".table_waiting_count").text(table_waiting_count)
                $(".table_finish_count").text(table_finish_count)
                $(".table_doing_count").text(table_doing_count)
            }
        })
    </script>
</head>
<style>
    .layui-top-box {padding:40px 20px 20px 20px;color:#fff}
    .panel {margin-bottom:17px;background-color:#fff;border:1px solid transparent;border-radius:3px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05)}
    .panel-body {padding:15px}
    .panel-title {margin-top:0;margin-bottom:0;font-size:14px;color:inherit}
    .label {display:inline;padding:.2em .6em .3em;font-size:75%;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25em;margin-top: .3em;}
    .layui-red {color:red}
    .main_btn > p {height:40px;}
    .panel-body:hover{
        position: relative;
    top:-10px;
    left: -10px;
    }

</style>
<body>
<div class="layuimini-container">

    <h2 style="text-align: center; color:#28333e; margin-top: 50px;">欢迎登录窝嫩叠顺手捎后台管理系统！</h2>
    <div class="layuimini-main layui-top-box">
        <div class="layui-row layui-col-space10">

            <div class="layui-col-md3">
                <div class="col-xs-6 col-md-3">
                 
                    <a href="/admin_site/table_user">
                          <div class="panel layui-bg-cyan">                       
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-blue">实时</span>
                                <h5>用户统计</h5>
                            </div>
                            <div class="panel-content">
                                <h1 class="no-margins user-count">0</h1>
                                <div class="stat-percent font-bold text-gray"><i class="fa fa-commenting"></i> <span class="user-count">0</span></div>
                                <small>当前分类总记录数</small>
                            </div>
                        </div>                 
                    </div>
                    </a>
                  
            
                </div>
            </div>

            <div class="layui-col-md3">
                <div class="col-xs-6 col-md-3">
                   
                    <a href="/admin_site/table_waiting">
                        <div class="panel layui-bg-blue">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-cyan">实时</span>
                                <h5>待完成订单统计</h5>
                            </div>
                            <div class="panel-content">
                                <h1 class="no-margins table_waiting_count">0</h1>
                                <div class="stat-percent font-bold text-gray"><i class="fa fa-commenting"></i> <span class="table_waiting_count">0</span></div>
                                <small>当前分类总记录数</small>
                            </div>
                        </div>
                    </div>
                    </a>
                    
               
                </div>
            </div>

            <div class="layui-col-md3">
                <div class="col-xs-6 col-md-3">
                  
                    <a href="/admin_site/table_doing">
                        <div class="panel layui-bg-green">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-orange">实时</span>
                                <h5>完成中订单统计</h5>
                            </div>
                            <div class="panel-content">
                                <h1 class="no-margins table_doing_count">0</h1>
                                <div class="stat-percent font-bold text-gray"><i class="fa fa-commenting"></i> <span class="table_doing_count">0</span></div>
                                <small>当前分类总记录数</small>
                            </div>
                        </div>
                    </div>
                    </a>
                   
                
                </div>
            </div>
            <div class="layui-col-md3">
                <div class="col-xs-6 col-md-3">
                   
                    <a href="/admin_site/table_finish">
                        <div class="panel layui-bg-orange">
                        <div class="panel-body">
                            <div class="panel-title">
                                <span class="label pull-right layui-bg-green">实时</span>
                                <h5>已完成订单统计</h5>
                            </div>
                            <div class="panel-content">
                                <h1 class="no-margins table_finish_count">0</h1>
                                <div class="stat-percent font-bold text-gray"><i class="fa fa-commenting"></i> <span class="table_finish_count">0</span></div>
                                <small>当前分类总记录数</small>
                            </div>      
                        </div>
                    </div>          
                    </a>
                   
                </div>
            </div>
        </div>
    </div>

   
  
</div>
<script src="{% static '/lib/layui-v2.6.3/layui.js' %}" charset="utf-8"></script>
</body>
</html>